name: PR

on:
  pull_request:
    branches:
      - main
      - release/*
      - lesson/*

jobs:
  analyze:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '${{ vars.FLUTTER_VERSION }}'
          channel: '${{ vars.FLUTTER_CHANNEL }}'
          cache: true

      - name: Show Flutter version
        run: flutter --version

      - name: Get dependencies
        run: flutter pub get

      - name: Run flutter analyze
        run: flutter analyze
